# Only when the template is published to typst universe this workflow will succed
name: Build Typst document

on:
  workflow_dispatch:
    inputs:
        output_name:
          description: "Name of the output PDF"
          required: false
          default: "main.pdf"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: typst-community/setup-typst@v4
      - run: typst compile --root . template/main.typ ${{ inputs.output_name }}
      - uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf
